<section >
  <div class="feature-section">
  <div class="background-section gray">

  <div class="feature container">
    <div class="feature__img ">
      <picture>
        <source
          srcset="/Banvaz/assets/images/baby.webp"
          type="image/webp"
          media="(min-width: 769px)"
        />
        <source
          srcset="/Banvaz/assets/images/baby-small.png"
          type="image/png"
          media="(max-width:768px)"
        />
        <img src="/Banvaz/assets/images/baby-small.png" alt="baby" />
      </picture>
    </div>
    <h2 class="feature__header"> دارای تنظیمات مخصوص کودکان!  </h2>
    <p class="feature__description">
   نگران تغییر  تنظیمات بانواز توسط فرزند عزیزت نباش.
    </p>
    <div class="feature__btn">
      <button class="btn btn--primary"> دانلود بروشور</button>

    </div>
  </div>
  </div>
</div>
</section>
<section class="feature-section block">
  <div class="background-section white">
  <div class="feature container">
    <div class="feature__img">
      <picture>
        <source
          srcset="/Banvaz/assets/images/mobile.webp"
          type="image/webp"
          media="(min-width: 769px)"
        />
        <source
          srcset="/Banvaz/assets/images/mobile-small.png"
          type="image/png"
          media="(max-width:768px)"
        />
        <img src="/Banvaz/assets/images/baby-small.png" alt="baby" />
      </picture>
    </div>
    <h2 class="feature__header"> مدیریت خانه روی گوشی! </h2>
    <p class="feature__description">
با اپلیکیشن بانواز میتونی تمام سنسورها رو روی گوشیت مشاهده و کنترل کنی.        </p>
    <div class="feature__btn">
      <button class="btn btn--secondary--dark"> دانلود اپلیکیشن</button>

    </div>
  </div>
</div>
</section>