<footer class="main-footer">
  <div class="container">
    <div class="footer__item__container">
      <div class="footer__item">
        <h3 class="footer__item__header">بانواز</h3>
        <a href="#">خانه</a>
        <a href="#">فروشگاه</a>
        <a href="#">ورود به داشبورد</a>
      </div>
      <div class="footer__item">
        <h3 class="footer__item__header">فروشگاه</h3>
        <a href="#">دستگاه مرکزی</a>
        <a href="#">سنسورهای داخلی</a>
        <a href="#">سنسورهای خارجی</a>
      </div>
      <div class="footer__item">
        <h3 class="footer__item__header">بانواز</h3>
        <a href="#">درباره بانواز</a>
        <a href="#">وبلاگ</a>
        <a href="#">موقعیتهای شغلی</a>
        <a href="#">تماس با ما</a>
      </div>
      <div class="footer__item">
        <h3 class="footer__item__header">دانلود اپلیکیشن</h3>
        <div class="download__container">
          <div class="download__item">
            <img
              src="/Banvaz/assets/images/Download Badge/Google-Play-Badge.jpg"
              alt="Google Play Badge"
            />
          </div>
          <div class="download__item">
            <img
              src="/Banvaz/assets/images/Download Badge/App-Store-Badge.jpg"
              alt="App Store Badge.jpg"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="social-copy-right">
      <div class="social__container">
        <div class="icon__holder" >
          <svg class="icon" >
            <use xlink:href="/Banvaz/assets/images/icon-svg-sprit.svg#instagram"></use>
          </svg>
        </div>
        <div class="icon__holder" >
          <svg class="icon" >
            <use xlink:href="/Banvaz/assets/images/icon-svg-sprit.svg#dribbble"></use>
          </svg>
        </div>
        <div class="icon__holder" >
          <svg class="icon" >
            <use xlink:href="/Banvaz/assets/images/icon-svg-sprit.svg#twitter"></use>
          </svg>
        </div>
        <div class="icon__holder" >
          <svg class="icon" >
            <use xlink:href="/Banvaz/assets/images/icon-svg-sprit.svg#youtube"></use>
          </svg>
        </div>
      </div>
      <div class="copy-right">
        <p>تمامی حقوق متعلق به بانواز می ‌باشد.</p>
      </div>
    </div>
    
  </div>
</footer>