<section class=" background-section-freinds  block">
  <div class="freinds container">
    <h2 class="freinds__header">رفقای بانواز!</h2>
    <p class="freinds__description">
      ما افتخار همکاری با بیش از ده‌ها شرکت رو در بانواز داریم.
    </p>
    <div class="freinds__logo">
      <picture>
        <source
          srcset="/Banvaz/assets/images/Logos-big.png"
          type="image/png"
          media="(min-width: 769px)"
        />
        <source
          srcset="/Banvaz/assets/images/Logos.png"
          type="image/jpg"
          media="(max-width:768px)"
        />
        <img src="/Banvaz/assets/images/Logos.png" />
      </picture>
    </div>
  </div>
</section>