<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/Banvaz/assets/css/style.css" rel="stylesheet" />
    <link href="/Banvaz/assets/css/fonts.css" rel="stylesheet" />
</head>
<body>
  <div class="hero__img">
    <div class="box-A">
      <picture>
        <source
          srcset="/Banvaz/assets/images/house-big.webp"
          type="image/webp"
          media="(min-width: 769px)"
        />
        <source
          srcset="/Banvaz/assets/images/house-mini.jpg"
          type="image/jpg"
          media="(max-width:768px)"
        />
        <img src="/Banvaz/assets/images/house-mini.jpg" />
      </picture>
      <div class="box-B">
        <picture>
          <source
            srcset="/Banvaz/assets/images/iPhone-big.webp"
            type="image/webp"
            media="(min-width: 769px)"
          />
          <source
            srcset="/Banvaz/assets/images/iPhone-mini.jpg"
            type="image/jpg"
            media="(max-width:768px)"
          />
          <img src="/Banvaz/assets/images/iPhone-mini.jpg" alt="" />

        </picture>
      </div>
    </div>
  </div>
</body>
</html>