<section class="background-main block" >
  <div class="management container ">
    <div class="management__img" >
      <picture>
        <source
          srcset="/Banvaz/assets/images/switch.webp"
          type="image/webp"
          media="(min-width: 769px)"
        />
        <source
          srcset="/Banvaz/assets/images/swith-small.png"
          type="image/png"
          media="(max-width:768px)"
        />
        <img src="/Banvaz/assets/images/switch.png" alt="switch" />

      </picture>
    </div>
    <h2 class="management__title" >مدیریت با دستگاه مرکزی</h2>
    <p class="management__description" >
      بانواز برای مدیریت و کنترل سنسورهای خودش از یک دستگاه مرکزی استفاده می‌کنه که همه چیز تحت کنترل همین دستگاه مرکزیه.
      <br>
      دستگاه به کمک اینترنت به گوشی شما متصل میشه و شما میتونین همه چیز رو تحت کنترل خودتون بگیرین.
    </p>

  </div>
</section> 