<section class="nav-section background-main">
  <nav class="main-nav container">
    <div class="nav__logo">
      <a class="link" href="#">
        <img src="/Banvaz/assets/images/Logo.png" alt="logo" />
      </a>
    </div>
    <div class="nav__btn-group">
      <button class="btn btn--secondary--dark">فروشگاه بانواز</button>
      <div class="nav__toggler">
        <div class="bar bar-one"></div>
        <div class="bar bar-two"></div>
        <div class="bar bar-three"></div>
      </div>
    </div>

    <ul class="list nav__list">
      <li class="nav__item"><a class="link" href="#">خانه</a></li>
      <li class="nav__item"><a class="link" href="#">فروشگاه</a></li>
      <li class="nav__item"><a class="link" href="#">درباره ما</a></li>
    </ul>
    <div class="call-to-action">
      <button class="btn btn--primary--dark btn__color--primary">
        ورود به داشبورد
      </button>
      <button class="btn btn--primary btn__border--white">
        دانلود اپلیکیشن
      </button>
    </div>
  </nav>
</section>