<section class=" background-main block">
  <div class=" services container">
    <div class="services__item">
      <div class="services__item__img">
        <picture>
          <source
            srcset="/Banvaz/assets/images/Icon.png"
            type="image/png"
            media="(min-width: 769px)"
          />
          <source
            srcset="/Banvaz/assets/images/Icon-small.png"
            type="image/png"
            media="(max-width:768px)"
          />
          <img src="/Banvaz/assets/images/Icon.png" alt="Icon" />
        </picture>
      </div>
      <h3 class="services__item__description">وسایل برقی</h3>
    </div>
    <div class="services__item">
      <div class="services__item__img">
        <picture>
          <source
            srcset="/Banvaz/assets/images/plant-fill.png"
            type="image/png"
            media="(min-width: 769px)"
          />
          <source
            srcset="/Banvaz/assets/images/plant-fill-small.png"
            type="image/png"
            media="(max-width:768px)"
          />
          <img src="/Banvaz/assets/images/plant-fill.png" alt="plant" />
        </picture>
      </div>
      <h3 class="services__item__description">گل و گیاه</h3>
    </div>
    <div class="services__item">
      <div class="services__item__img">
        <picture>
          <source
            srcset="/Banvaz/assets/images/noun_Door.png"
            type="image/png"
            media="(min-width: 769px)"
          />
          <source
            srcset="/Banvaz/assets/images/noun_Door-small.png"
            type="image/png"
            media="(max-width:768px)"
          />
          <img src="/Banvaz/assets/images/noun_Door.png" alt="Door" />
        </picture>
      </div>
      <h3 class="services__item__description">درب و پنجره</h3>
    </div>
    <div class="services__item">
      <div class="services__item__img">
        <picture>
          <source
            srcset="/Banvaz/assets/images/noun_Bone.png"
            type="image/png"
            media="(min-width: 769px)"
          />
          <source
            srcset="/Banvaz/assets/images/noun_Bone-small.png"
            type="image/png"
            media="(max-width:768px)"
          />
          <img src="/Banvaz/assets/images/noun_Bone.png" alt="Bone" />
        </picture>
      </div>
      <h3 class="services__item__description">حیوانات</h3>
    </div>
    <div class="services__item">
      <div class="services__item__img">
        <picture>
          <source
            srcset="/Banvaz/assets/images/noun_Fire.png"
            type="image/png"
            media="(min-width: 769px)"
          />
          <source
            srcset="/Banvaz/assets/images/noun_Fire-small.png"
            type="image/png"
            media="(max-width:768px)"
          />
          <img src="/Banvaz/assets/images/noun_Fire.png" alt="Fire" />
        </picture>
      </div>
      <h3 class="services__item__description">گرمایی</h3>
    </div>
    <div class="services__item">
      <div class="services__item__img">
        <picture>
          <source
            srcset="/Banvaz/assets/images/noun_lamp.png"
            type="image/png"
            media="(min-width: 769px)"
          />
          <source
            srcset="/Banvaz/assets/images/noun_lamp-small.png"
            type="image/png"
            media="(max-width:768px)"
          />
          <img src="/Banvaz/assets/images/noun_lamp.png" alt="lamp" />
        </picture>
      </div>
      <h3 class="services__item__description">روشنایی</h3>
    </div>
  </div>
</section>