<section >
  <div class="background-section blue">
    <div class="container spesial-capabilities">
   <h2 class="spesial-capabilities__header ">    قابلیت‌های ویژه بانواز </h2>
   <div class="capabilities container ">
    <div class="capability ">
      <div class="capability__img">
                  <img src="/Banvaz/assets/images/1.png" alt="animal" />
      </div>
      <p class="capability__description">
سنسورهایی که برای حیوان خانگی شما نصب میشن می‌تونن با هوش مصنوعی گرسنه بودن اون رو تشخیص بدن.  </p>
      
    </div>
    <div class="capability ">
      <div class="capability__img">
                  <img src="/Banvaz/assets/images/2.png" alt="plant" />
      </div>
      <p class="capability__description">
با محاسبه حرارت اطراف گیاهان میشه فهمید کی دوباره به گیاه‌ها آب بدی. 
</p>
      
    </div>
    <div class="capability ">
      <div class="capability__img">
                  <img src="/Banvaz/assets/images/3.png" alt="electronic" />
      </div>
      <p class="capability__description">
میتونی مدت زمان روشن بودن وسایل الکتریکی رو کنترل کنی.
<br>
یا حتی برای روشن بودن آن‌ها از بانواز کمک بگیری. 
</p>
      
    </div>
    <div class="capability ">
      <div class="capability__img">
                  <img src="/Banvaz/assets/images/4.png" alt="door" />
      </div>
      <p class="capability__description">
باز و بسته شدن درب‌ها و پنجره‌ها، تشخیص حضور انسان و کلی قابلیت دیگه با سنسورهای بانواز!</p>
      
    </div>
   </div>
  </div>
</div>
</section>