<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .feature__img {
          width: 400px;
          height: 300px;
        } 
        .feature__img img{
          width: 100%;
          object-fit: none;
          object-position: top right ;  
        }
       
    </style>
</head>
<body>
  <div class="feature__img">
    <picture >
      <source 
        srcset="/Banvaz/assets/images/baby.webp"
        type="image/webp"
        media="(min-width: 769px)"
      />
      <source 
        srcset="/Banvaz/assets/images/baby-small.png"
        type="image/png"
        media="(max-width:768px)"
      />
      <img src="/Banvaz/assets/images/baby-small.png"  alt="baby" />
    </picture>
  </div>
</body>
</html>